* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    font-size: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #263038;
    height: 100vh;
    margin: 0;
}


